<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
    <nav>
        <h1>Best Books!</h1>
    </nav>
    <p>search by title or auther </p>
    <form action="/searches" method="POST">
       
        <input type="text" placeholder="Enter a title or Author"><br>
        <label for="">Title</label>
        <input type="radio" name="contact" value="phone"><br>
        <label for="">Auther</label>
        <input type="radio" name="contact" value="email"><br>
        <button>search the Google Books API</button>
    </form>
</body>
</html>