<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
        <% searchResults.forEach( book => { %>
            <h3><%= book.title %></h3>
            <img src="<%= book.image %>">
            <h4><%book.author%></h4>
            <p><%book.description%></p>

        <% }) %>
    </main>
  </body>
</html>