h1{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 5em;
}
h1:hover{
    color: grey;
}
button:hover{
    background-color: grey;
}
h4{
    font-size: 2em;
}
.search{
    width: 75%;
    height: 50px;
    border-radius: 5px;
}
.disc{
    font-size: 2em;
    background-color: rgb(230, 230, 230);
}